@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #FFFFFF;
    background-color: #000000;
}

/* aplica as propriedades para tag e tbm quando passar o mouse por cima do link (hover) e para quando o link já for visitado (visited)*/
a, a:hover, a:visited {
    color: unset; /* a tag n terá nenhuma cor diferente da cor padrão*/
    text-decoration: none; /* n terá nenhuma decoração diferente no texto*/
}